#nav__background{
    background-color: #9b6ef1;
}

#index__main{
    margin-top: 5vh;
}

#index__cards, #servicios__cards{
    margin: 0rem 1rem;
    margin-bottom: 2rem;
}

#card__1, #card__2, #card__3, #card__4{
    background-color: #9b6ef1;
}

#about__text{
    text-align:justify;
}

#about__title{
    margin: 5vh;
}

#contact__form{
    max-width: 700px;
    margin-bottom: 4vh;
}

#blog__1, #blog__2, #blog__3, #blog__4, #blog__5, #blog__6{
    background-color: #9b6ef1;
}